*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: blueviolet;
    height:150px;
    border-bottom: crimson 4px solid;
}
#heading{
    padding: 10px;
    color: cornsilk;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-left: 38%;
    margin-top: -115px;   
}
span{
    color:crimson;
}
#header-img{
   width: 150px;
}
ul{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    list-style: none;
    color:cornsilk;
    margin-right: 5px;
}
li{
    padding: 8px;
    margin-botton:440px;
}