*{
    margin: 0;
    padding: 0;
}
#header{
    background-color: blueviolet;
    height:150px;
    border-bottom: crimson 4px solid;
}
#heading{
    padding: 10px;
    color: cornsilk;
    font-family: 'Lobster', cursive;
    font-size: 50px;
    margin-left: 38%;
    margin-top: -115px;   
}
span{
    color:crimson;
}
#header-img{
   width: 150px;
}
ul{
    display: flex;
    justify-content: flex-end;
    font-size: 30px;
    list-style: none;
    color:cornsilk;
    margin-right: 5px;
}
li{
    padding: 8px;
    margin-bottom: 440px;
}
#video{
    padding:50px
}
#email{
    align-content: center;
    padding: 9px;
    width: 350px;
    border-radius: 1ex;   
}
#submit{
    background-color: rgb(35, 82, 170);
    padding: 9px;
    width: 120px;
    border-radius: 1ex;
    margin: 9px;
    color: cornsilk;
    display: flex;
    flex-direction: column;
}
#submit:hover{
    font-weight:bold;
    background-color: rgb(4, 56, 56);
}
#email:hover{
    font-weight: bold;
}
main{
    background-color: rgb(171, 212, 238);
}
#quality{
    display: flex;
}
.fet {
  color: rgb(35, 82, 170);;  
}
@media(max-width:560px){
    #header{
        width: 560px;
        background-color: darkblue;
    }
}